{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>{{ page_title }}</h1>
    <p class="lead">
        {{ site_slug }}
    </p>

    <div class="">
        <p>
            {{ lang.page_aboutus.content }}
        </p>
    </div>

{% endblock %}