{% extends "layouts/layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ lang.page_about_us.title }}</h1>
        <p class="lead">
            {{ lang.page_about_us.content }}
        </p>
    </div>

{% endblock %}